.header {
    display: flex;
    justify-content: space-between;
}

.parent {
    margin-top: 100px;
    }
    .school__board--back {
      width: 600px;
      height: 338px;
      background: url("img/background.png") no-repeat;
      // background-image: radial-gradient(circle 145px at center, rgba(203, 203, 203, 0.25) 0%, rgba(170, 170, 170, 0.25) 32%, rgba(170, 170, 170, 0.25) 100%);
    }
    .school__board--border {
      width: 499px;
      height: 265px;
      background: url("img/wood_border.png") no-repeat;
    }
    .board__black {
      background: url("img/blackboard.png") no-repeat;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 5px rgba(61, 81, 56, 0.2);
      // background-image: radial-gradient(circle 79px at 53.83% -23.98%, #727f7c 0%, #506b64 100%);
    }
    .form__board {
      display: block;
    }
    .form__board label{
      display: block;
    }
    .form__board input{
      margin-left: 20px;
    }